[package]
name = "screeps-game-api"
version = "0.8.0"
authors = ["David Ross <daboross@daboross.net>"]
documentation = "https://docs.rs/screeps-game-api/"
edition = "2018"
include = [
    "Cargo.toml",
    "Web.toml",
    "src/**/*",
    "javascript/**/*",
    "tests/**/*",
    "examples/**/*",
    "README.md",
    "CHANGELOG.md",
    "LICENSE",
]
license = "MIT"
readme = "README.md"
repository = "https://github.com/rustyscreeps/screeps-game-api/"
description = "WASM bindings to the in-game Screeps API"

[lib]
name = "screeps"

[badges]
travis-ci = { repository = "rustyscreeps/screeps-game-api" }

[dependencies]
wasm-bindgen = "0.2"
js-sys = "0.3"
arrayvec = "0.4"
serde = {version = "1", features = ["derive"]}
serde-wasm-bindgen = "0.1"
serde_json = "1"
serde_repr = "0.1"

[features]
check-all-casts = []
